@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --purple: #6739EF;
    --lt-purple: #835DF0;
    --lt-gray: #ECF2FA;
    --lt-text: #393939;
    --lt-selected: #D6D6D6;
    --gray: #6D6D6D;
    --white: #ffffff;
    --dk-background: #102D3B;
    --black: #06151C;
}

body {
    background-color: var(--lt-gray);
    color: var(--lt-text);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

[data-mode="dark"] {
    background-color: var(--black);
    color: var(--lt-gray);
}

[data-mode="dark"] .mood-card > h3 {
    color: var(--lt-gray);
}

.full-width {
    display: none;
}

header {
    background-color: var(--purple);
    height: 100px;
    display: flex;
}

header > .container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 750px;
    margin: auto;
    padding: 25px;
}

.mood-card{
    display: grid;
    grid-template-columns: 2fr 1fr 7fr 1fr;
    justify-content: center;
    align-content: start;
    gap: 10px;
    font-size: .85rem;
    border-bottom: 1px solid var(--lt-purple);
    padding: 25px 0;
}

.mood-card > h3 {
    font-size: .6rem;
    color: var(--lt-purple);
    justify-self: start;
    white-space:nowrap;
    overflow: hidden;
    align-self: start;
    margin-top: 5px;
}

.mood-card > .mood-img {
    width: 24px;
    justify-self: center;
    margin-top: -3px;
}

.mood-card > img:last-child {
    justify-self: center;
}

.mood-card > img:last-child:hover {
    cursor: pointer;
}

.mood-notes {
    line-height: 1.5rem;
    align-self: start;
}

.mood-card span {
    display: none;
}

.mood-card .notes-closed {
    height: 20px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mood-card .notes-open {
    white-space: pre-wrap;
}

.record-mood {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.record-mood > h3 {
    justify-self: end;
    color: var(--gray);
}

.record-mood > form {
    grid-column-start: 1;
    grid-column-end: span 2;
    margin-top: 32px;
}

textarea {
    width: 100%;
    padding: 25px;
    color: var(--lt-text);
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 8px;
    resize: none;
    box-shadow: 0px 0px 102px 0px rgba(0, 0, 0, 0.25);
    height: 75px;
    transition: height 1s;
}

textarea:focus-within {
    height: 200px;
    transition: height 1s;
}

button {
    width: 100%;
    font-size: 1rem;
    color: var(--white);
    background: linear-gradient(169deg, #835DF0 0%, rgba(131, 93, 240, 0.00) 100%), var(--dk-purple, #6739EF);
    border: none;
    border-radius: 8px;
    height:64px;
    box-shadow: 0px 0px 102px 0px rgba(0, 0, 0, 0.25);
}

button:hover {
    cursor: pointer;
    background: linear-gradient(169deg, #6f4dcc 0%, rgba(21, 11, 48, 0) 100%), var(--dk-purple, #4d2bb1);
}

.mood-select {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    height: 70px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 0px 102px 0px rgba(0, 0, 0, 0.25);
    margin: 40px 0;
}

.mood-selected {
    background-color: #D6D6D6;
}

.mood-select > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    border-right: 1px solid var(--lt-selected);
}

.mood-select > div:last-child {
    border: none;
}

.mood-select > div:hover {
    background-color: #D6D6D6;
    cursor: pointer;
}

.mood-select > div:first-child:hover {
    border-radius: 8px 0 0 8px;
}

.mood-select > div:last-child:hover {
    border-radius: 0 8px 8px 0;
}

.mood-select > div > input {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.mood-select > div > label:hover {
    cursor: pointer;
}



@media screen and (min-width: 751px) {
    .full-width {
        display: block;
    }
    .mobile {
        display: none;
    }
    .mood-card span {
        display: inline;
    }
    .mood-card > .mood-img {
        width: 32px;
        margin-top: -8px;
    }
    .mood-card > h3 {
        font-size: 1rem;
        margin-top: 0;
    }

    .record-mood > form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .mood-select {
        width: 60%;
    }

    button {
        width: 35%;
    }
}